.footer {
    align-items: center;
    background: $dark-blue;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    left: 0;
    position: fixed;
    width: 100%;
}